.odd {
    background-color:rgb(236, 163, 197);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}